.mainpage {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 45px 0 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

@media screen and (max-width: 767px) {

}
