.pop-up__field {
  height: 27px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1;
  vertical-align: top;
  color: #000;
  font-family: 'Inter';
  font-weight: 400;
  margin-bottom: 30px;
}

.pop-up__field:last-of-type {
  margin-bottom: 0;
}
